@{
    ViewData["Title"] = "Home Page";
}


<h2>User Information</h2>

<div>
    <h3>Graph API Result</h3>
    <p>@ViewData["GraphApiResult"]</p>
</div>

<div>
    <h3>Tenant ID</h3>
    <p>@ViewData["TenantId"]</p>
</div>

<div>
    <h3>Tentativas de Login Recentes</h3>
    @if (ViewData["RecentSignIns"] is string)
    {
        <p>@ViewData["RecentSignIns"]</p>
    }
    else
    {
        <ul>
            @foreach (var signIn in ViewData["RecentSignIns"] as IEnumerable<Microsoft.Graph.SignIn>)
            {
                <li>@signIn.UserPrincipalName - @signIn.CreatedDateTime</li>
            }
        </ul>
    }
</div>

<div>
    <h3>Usuários do Tenant</h3>
    <ul>
        @foreach (var user in ViewData["Users"] as IEnumerable<Microsoft.Graph.User>)
        {
            <li>@user.DisplayName - @user.UserPrincipalName</li>
        }
    </ul>
</div>

<div>
    <h3>Grupos do Tenant</h3>
    <ul>
        @foreach (var group in ViewData["Groups"] as IEnumerable<Microsoft.Graph.Group>)
        {
            <li>@group.DisplayName</li>
        }
    </ul>
</div>